body {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#title {
    text-align: center;
    margin-top: 0px;
    background: rgba(3, 3, 3, 0.966);
    color: rgb(247, 9, 9);
    padding: 10px;
    letter-spacing: 8px;
    font-weight: bold;
}

#time {
    position: absolute;
    top: 5px;
    left: 130px;
    color: antiquewhite;
}

table {
    border: 6px outset blue;
    background: rgb(36, 35, 35);
    width: 100%;
    height: 100px;
    font-size: 25px;
    border-bottom-width: 10px;
    position: fixed;
    top: 64px;
}

#language:hover,
#linux:hover,
#mainpage:hover,
#software:hover,
#protect:hover,
#apps:hover,
#design:hover {
    font-size: 40px;
}

a {
    text-decoration: none;
}

div {
    color: rgb(240, 227, 227);
}

#border1,
#border2,
#border3,
#border4,
#border5,
#border6 {
    /*
    border-right-style: solid;
    border-right-color: rgb(0, 215, 253);
    border-right-width: 5px;
    height: 50px;   */
    margin-left: 60px;
}

#box1 {
    border-style: outset;
    border-width: 10px;
    height: 400px;
    display: inline;
    position: fixed;
    left: 65%;
    width: 400px;
    border-color: rgb(7, 202, 33);
    position: absolute;
    top: 250px;
    color: rgb(154, 158, 147);
    background-color: rgb(202, 78, 78);
    border-radius: 10px;
    box-shadow: 4px 20px rgb(169, 169, 172);
    opacity: 0.5;
}

#words-in-div1 {
    color: black;
    font-size: 30px;
    background-color: #eee;
    direction: rtl;
}

#box2 {
    border-style: outset;
    border-width: 10px;
    height: 400px;
    width: 400px;
    display: inline;
    position: fixed;
    left: 35%;
    border-color: red;
    position: absolute;
    top: 250px;
    color: black;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 4px 20px rgb(169, 169, 172);
    opacity: 0.5;
}

#words-in-div2 {
    color: black;
    font-size: 30px;
    background-color: #eee;
    direction: rtl;
}

#box3 {
    border-style: outset;
    border-width: 10px;
    height: 400px;
    display: inline;
    position: fixed;
    left: 5%;
    width: 400px;
    border-color: rgb(2, 215, 223);
    position: absolute;
    top: 250px;
    color: black;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 4px 20px rgb(169, 169, 172);
    opacity: 0.5;
}

#words-in-div3 {
    direction: rtl;
    color: rgb(17, 13, 13);
}

#profile {
    border: 4px solid rgb(74, 74, 75);
    width: 200px;
    height: 150px;
    border-radius: 75%;
    margin: 50px;
    color: black;
}

#n {
    position: relative;
    top: 170px;
    background-color: rgb(206, 206, 142);
    font-size: 20px;
}


/*   Hover boxes */

#box1:hover {
    background-color: rgb(255, 136, 0);
    border-width: 20px;
    font-size: 45px;
    height: 500px;
    opacity: 1;
}

#box2:hover {
    background-color: rgb(255, 136, 0);
    border-width: 20px;
    font-size: 45px;
    height: 500px;
    opacity: 1;
}

#box3:hover {
    background-color: rgb(255, 136, 0);
    border-width: 20px;
    font-size: 45px;
    height: 500px;
    opacity: 1;
}

#singin {
    background-color: bisque;
    color: black;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 90%;
    width: 150px;
}

#singup {
    background-color: bisque;
    color: black;
    width: 150px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 80%;
}

#logo-syria {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 6px;
    left: 10px;
    color: aliceblue;
    font-size: 40px;
    letter-spacing: 6px;
    font-family: 'Courier New', Courier, monospace;
}

#copyright>p {
    border: 3px solid red;
    width: 100%;
    background-color: rgb(133, 79, 8);
    text-align: center;
    color: rgb(243, 239, 233);
    padding-top: 0px;
}

#p2 {
    padding-bottom: 0px;
    height: 150px;
}

#allbox {
    border: 8px solid black;
    width: 1518px;
    height: 600px;
    background: rgba(76, 77, 76, 0.952);
}

#content {
    border: 6px solid blueviolet;
    width: 1518px;
    height: 600px;
    background: rgb(65, 59, 59);
    margin-top: -15px;
}

#conecting {
    position: relative;
    left: 0%;
    background-color: black;
    height: 400px;
    position: relative;
    top: -20px;
}

#pi {
    text-align: center;
    background-color: rgb(194, 11, 11);
}

#p2 {
    font-size: 30px;
    color: rgb(104, 4, 4);
}

mark {
    background-color: yellow;
}

#servic {
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: steelblue;
    text-decoration: overline;
    direction: rtl;
    padding: 0px;
    margin-right: 0px;
    list-style-type: armenian;
}

#design2 {
    border: 4px solid red;
    width: 170px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(185, 161, 153);
    color: black;
    position: fixed;
    top: 400px;
    left: 0px;
    opacity: 0.4;
    list-style-type: lower-alpha;
}

.li1,
.li2,
.li3,
.li4,
.li5,
.li6,
.li7,
.li8,
.li9,
.li10 {
    background-color: rgb(29, 29, 21);
    display: block;
    margin-top: 5px;
    list-style: circle;
}

#design2:hover {
    background-color: rgb(3, 39, 94);
    opacity: 1;
    color: bisque;
}

#hr {
    text-align: center;
    color: black;
    background-color: rgb(5, 56, 56);
    width: 100%;
    height: 190px;
    position: relative;
    top: -37px;
}